.toggle-mains{
  /* background: linear-gradient(#e599f84d, rgba(255, 255, 255, 0.254)); */
  margin:  -1rem -4rem;
}
.toggle-main{
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: inline-block;
  left: 50%;
  position: relative;
}



@media screen and (max-width: 480px) {
  .n-list {
    display: none;
  }
}
