.Intro {
  display: flex;
  height: 77vh;
  margin-top: 6rem;
}

/* left side styling */
.i-left {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
}
.i-name {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.i-name > :nth-child(1) {
  color: var(--black);
  font-weight: bold;
  font-size: 3rem;
}
.i-name > :nth-child(2) {
  color: var(--orange);
  font-weight: bold;
  font-size: 3rem;
}
.i-name > :nth-child(3) {
  font-weight: 100;
  font-size: 14px;
  color: var(--gray);
  margin-top: 10px;
}
.i-button {
  width: 6rem;
  height: 2rem;
}
.i-icons {
  margin-top: 3rem;
  display: flex;
  gap: 0rem;
}
.i-icons > * {
  transform: scale(0.5);
}
.i-icons > *:hover {
  cursor: pointer;
}
/* right side styling */
.i-right {
  flex: 1;
  position: relative;
}
.i-right > * {
  position: absolute;
  z-index: 1;
}
.images {
  width: 323px;
  height: 445px;
  background: linear-gradient(45deg, transparent, rgba(0, 0, 0, 0.849),transparent);
  display: grid;
  position: relative;
  left: 5rem;
}
.i-right > :nth-child(4) {
  top: -4.6rem;
  transform: scale(0.67);
  left: 3rem;
}
.imgs{
  left: 0rem;
  display: grid;
  position: absolute;
  place-items: center;
  top: -18rem;
  transform: scale(0.4);
}
.imgs img{
  border-radius: 2rem;
  overflow: hidden;
  transform: rotate(-15deg);
  transition: all 400ms ease-in-out;
}
.images img:hover{
  transform: rotate(0);
  transition: all 400ms ease-in-out;
}
.i-right > :nth-child(3) {
  transform: scale(0.7);
  left: 18%;
}
.i-right > :nth-child(2) {
  /* transform: scale(0.62);
  top: -19%;
  left: -24%;
  border-radius: 50%;
  padding: 0; */
  top: -4.6rem;
  transform: scale(0.67);
  left: -3rem;
}

/* blur */
.blur {
  position: absolute;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  background: #edd0ff;
  filter: blur(212px);
  z-index: -9;
  top: -18%;
  left: 56%;
  filter: blur(72px);
}
@media screen and (max-width:380px){
  .i-name{
    padding-right: 40px;
  }
.i-name > :nth-child(1) {
  color: var(--black);
  font-weight: bold;
  font-size: 2rem;
}
.i-name > :nth-child(2) {
  color: var(--orange);
  font-weight: bold;
  font-size: 2rem;
}
.i-name > :nth-child(3) {
  font-weight: 100;
  font-size: 12px;
  color: var(--gray);
  margin-top: 10px;
}
}
@media screen and (max-width: 480px) {
  .Intro {
    flex-direction: column;
    gap: 7rem;
    height: 64rem;
  }
  .images{
    top: -4rem;
  }
  .i-right {
    transform: scale(0.8);
    left: -3rem;
  }
  .i-right .blur {
    display: none;
  }
  .floating-div{
    margin-left: 2rem;
  }
  .i-right> :nth-child(2){
    top: -10rem;
    left: 7rem;
  }
  .floating-div1{
    display: block;
    margin-right: 2rem;
    top: 14rem;
    left: 14rem;
    position: relative;
    margin-top: -33rem;
  }

}

@media screen and (max-width : 900px) {
  .Intro{
    flex-direction: column;
    gap: 2rem;
  }
  .i-right >:nth-child(2){
    /* width: 4rem;  */
    margin-left: 44px;
  }
  .i-right{
    /* top: 4rem; */
    left: 4rem;
  }
}
@media screen and (max-width: 700px) {
  .Intro {
    flex-direction: column;
    gap: 7rem;
    margin-top: 1rem;
    height: 64rem;
    margin-bottom: 1rem;
  }

  .images{
    top: -4rem;
    left:   140px;
  }
  .i-right {
    transform: scale(0.8);
    left: -4rem;
  }
  .i-right .blur {
    display: none;
  }
  .floating-div{
    margin-left: 2rem;
  }
  .i-right> :nth-child(2){
    top: -10rem;
    left: 7rem;
  }
  .floating-div1{
    display: block;
    margin-right: 2rem;
    top: 14rem;
    left: 14rem;
    position: relative;
    margin-top: -33rem;
  }

}